body {
    font-family: cursive, Arial;
    font-size: 16px;
    background-color: black;
    color: white;
}
.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Collage {
  background-image: url("https://www.dropbox.com/s/1kwn3594tqf5qdt/FUN_COLLAGE.jpg?raw=1");
  background-color: #cccccc;
  height: 50em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.section p {
    color: orange;
    text-align: center;
}
#container--main {
    color: yellow;
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}
.section--page {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}
#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}
.card--techstack {
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

@media(max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }



